<html>
    <head>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <title>Community College University</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Community College University</h1>
            </div>
            
        </div>
    </body>
</html>
